@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.3rem;
    font-weight: 200;
    letter-spacing: .05rem;
}

nav {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    list-style: none;
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul a {
    color: #9C5000;
    padding: 1rem 1.5rem;
    transition: 0.4s;
    
}

nav ul a:hover {
    color: #01394E;
}

nav #social-links {
    font-size: 2.8rem;
    display: flex;
    gap: 15px;
}

nav #social-links a {
    font-size: 2.8rem;
    color: #9C5000;
    transition: 0.6s;
}

nav #social-links a:hover {
    color: #01394E;
}


.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    color: #01394E;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

/* Presentation section ============================================== */

#presentation {
    background-image: url(assets/onur-binay-_yC2htzMYnI-unsplash.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5 ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
    animation-delay: 1s;
}

#presentation h1:nth-child(2) {
    animation-delay: 2s;
}

#presentation h1:nth-child(3) {
    animation: text_reveal_name .1s ease forwards;
    animation-delay: 3s;  
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #9C5000;
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;  
}

#presentation .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #9C5000;
    border: 2px solid #9C5000;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: 0.6s;
}

#presentation .cta:hover {
    color: #01394E;
    font-weight: 700;
    background-color: #9C5000;
}

/* Portfolio section ============================================== */

#portfolio .portfolio {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#portfolio .portfolio-header h1 {
    margin-bottom: 50px;
}

#portfolio .project-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #01394E 0%, hsl(200, 97%, 10%) 100% );
    color: aliceblue;
}

#portfolio .project-info h1 {
    font-size: 4rem;
    color: #9C5000;
}

#portfolio .project-info h2 {
    font-size: 1.8rem;
    margin-top: 10px;
}

#portfolio .project-image {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-image:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .6;
}

#portfolio .project-image img {
    transition: .5s ease transform;
}

#portfolio .project-item:hover .project-image img {
    transform: scale(1.1);
}


/* keyframes ============================================== */
@keyframes text_reveal_name {

    100% {
        color: #9C5000;
    }
}

@keyframes text_reveal {

    100% {
        color: aliceblue;
    }
}

@keyframes text_reveal_box {
    
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

/* Media Query ============================================== */

@media only screen and (min-width:768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #portfolio .all-projects .project-info {
        height: 100%;
    }

    #portfolio .all-projects .project-image {
        height: 100%;
    }

    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}
